* {
  font-size: large;
}

a {
  font-weight: bold;
}

div.visible {
  opacity: 1;
}

html {
  min-height: 100%;
}

#banner {
  height: 100vh;
}

#name {
  font-weight: bolder;
}

#test-image-left {
  background-image: url("../images/mlpicpaintleft.jpg");
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 300px;
}

#test-image-right {
  background-image: url("../images/mlpicpaintright.jpg");
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 300px;
  opacity: 0;
}

#welcome-btn {
  transition: 1s;
  text-align: center;
  background-color: cyan;
  border-radius: 15%;
  padding: 5px;
}

#welcome-btn:hover {
  background-color: blue;
  height: 50px;
  width: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  vertical-align: middle;
}

#welcome-btn:hover span {
  display: none;
}

#welcome-btn:hover:before {
  content: "V";
}

.border {
  border-width: 3px !important;
}

.bgTop {
  z-index: 15;
  opacity: 0.5;
}
.bgMiddle {
  z-index: 10;
  opacity: 0.75;
}
.bgBottom {
  z-index: 5;
}
.bottomWave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}

.card-project-title {
  background-color: rgba(128, 80, 80, 0.6);
  font-weight: bolder;
  font-size: x-large;
  width: 100%;
}

.come_to_right {
  animation: come_to_right linear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.come_to_left {
  animation: come_to_left linear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.ease_up {
  color: black;
  animation: ease_up linear forwards;
  animation-duration: 1s;
}

.fade-in {
  color: black;
  animation: fade-in linear forwards;
  animation-duration: 1s;
}

.learn-more-btn {
  font: x-large;
  font-weight: bold;
  background-color: royalblue;
  color: black;
  width: 37%;
  position: absolute;
  bottom: 5px;
  transition: background-color 0.3s;
}

.learn-more-btn:hover {
  background-color: blue;
  font: x-large;
  color: white;
}

.skill-card {
  margin-bottom: 25px;
  height: 220px;
  background: url("../images/placeholder.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.7s;
}

.skill-card:hover {
  transform: scale(1.07) !important;
  cursor: pointer;
}

.title {
  position: absolute;
  top: 45%;
  z-index: 100;
  color: cyan;
  overflow: hidden;
}

.topWave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 top;
  transform-origin: center top;
}

.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
  background-image: linear-gradient(#86377b, #27273c, #86377b);
}

.waveTop,
.topWaveTop {
  background-size: 50% 100px;
}

.waveAnimation .waveTop {
  animation: move_wave 3s linear infinite;
  -webkit-animation: move_wave 3s linear infinite;
}

.waveAnimation .topWaveTop {
  animation: move_wave 3s linear infinite;
  -webkit-animation: move_wave 3s linear infinite;
  animation-direction: reverse;
}

.waveMiddle,
.topWaveMiddle {
  background-size: 50% 120px;
}

.waveAnimation .waveMiddle {
  animation: move_wave 10s linear infinite;
}

.waveAnimation .topWaveMiddle {
  animation: move_wave 10s linear infinite;
  animation-direction: reverse;
}

.waveBottom,
.topWaveBottom {
  background-size: 50% 100px;
}

.waveAnimation .waveBottom {
  animation: move_wave 15s linear infinite;
}

.waveAnimation .topWaveBottom {
  animation: move_wave 15s linear infinite;
  animation-direction: reverse;
}

@keyframes come_to_right {
  0% {
    background-position: center;
    opacity: 0;
  }
  100% {
    background-position: right;
    opacity: 1;
  }
}

@keyframes come_to_left {
  0% {
    background-position: center;
    opacity: 0;
  }
  100% {
    background-position: left;
    opacity: 1;
  }
}

@keyframes ease_up {
  0% {
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes move_wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}
