#test-image-left {
  background-image: url("../images/mlpicpaintleft.jpg");
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 100vh;
  animation: come_to_right linear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

#test-image-right {
  background-image: url("../images/mlpicpaintright.jpg");
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 100vh;
  animation: come_to_left linear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes come_to_right {
  0% {
    background-position: center;
  }
  100% {
    background-position: right;
  }
}

@keyframes come_to_left {
  0% {
    background-position: center;
  }
  100% {
    background-position: left;
  }
}
